/**
 * Site header
 */
 .wrapper .container {
    max-width: 80rem;
}

.site-header {
    text-align: center;
}

.navbar {
    display: block;
}

.navbar ul {
    margin-bottom: 0;
}

.nav-item {
    color:  black;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
}

.post-nav {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: block;
    text-align: center;
}

/**
 * thumbnail
 */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * popup
 */
 /* padding-bottom and top for image */
 .mfp-no-margins img.mfp-img {
 	padding: 0;
 }
 /* position of shadow behind the image */
 .mfp-no-margins .mfp-figure:after {
 	top: 0;
 	bottom: 0;
 }
 /* padding for main container */
 .mfp-no-margins .mfp-container {
 	padding: 0;
 }


 /*

 for zoom animation
 uncomment this part if you haven't added this code anywhere else

 */


 .mfp-with-zoom .mfp-container,
 .mfp-with-zoom.mfp-bg {
 	opacity: 0;
 	-webkit-backface-visibility: hidden;
 	-webkit-transition: all 0.3s ease-out;
 	-moz-transition: all 0.3s ease-out;
 	-o-transition: all 0.3s ease-out;
 	transition: all 0.3s ease-out;
 }

 .mfp-with-zoom.mfp-ready .mfp-container {
 		opacity: 1;
 }
 .mfp-with-zoom.mfp-ready.mfp-bg {
 		opacity: 0.8;
 }

 .mfp-with-zoom.mfp-removing .mfp-container,
 .mfp-with-zoom.mfp-removing.mfp-bg {
 	opacity: 0;
 }
 

/**
 * iframe
 */
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 80%;
    margin-bottom: 10%;
}

/**
 * Pagination
 */
.pagination {
     margin-top: 3%;
     text-align: center;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;

    &:hover {
        border: 1px solid $grey-color-light;
    }
}
